<%= form_for(@game) do |form| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user && current_user.role != "admin" %>
    <%= form.hidden_field(:challenger_id) %> 

  <% else %> 

    <div class="field">
      <p><%= form.label :challenger_id %></p>
      <p><%= form.collection_select(:challenger_id, User.all.reject {|user| user.role == "admin"}, :id, :name) %></p> 
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label "Play against" %> </p>
    <p><%= form.collection_select(:invitee_id, User.all.reject {|user| user == current_user || user.role == "admin"}, :id, :name) %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br/>
<p><%= link_to "Home", games_path %></p>