<p id="notice"><%= notice %></p>

<%= form_for(@game) do |form| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :challenger_id %><br />
    <%= form.collection_select(:challenger_id, User.all, :id, :name) %>  </div>

  <div class="field">
    <%= form.label :invitee_id %> <br />
    <%= form.collection_select(:invitee_id, User.all, :id, :name, selected: User.last.id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<br/>
<p><%= link_to "Home", games_path %></p>