<table>
    <thead>
      <tr>
        <th>Challenger</th>
        <th>Invitee</th>
        <th>Status</th>
        <th></th>

    </thead>
    <tbody>
      <% @games.sort_by{|e| e[:created_at]}.reverse!.each do |game| %>

       <% if game.game_is_finished? %>
        <tr class="inactive">
      <% else %>
        <tr>
      <% end %>

          <td><%= game.challenger.try(:name) %></td>
          <td><%= game.invitee.try(:name) %></td>
          <td>
            <% if game.winning_game? %>
              Winner: <%= game.moves.last.user.name %>
            <% elsif game.drawn_game? %>
              Draw
            <% else %>
              Turn: <%= game.whose_turn.name %>
            <% end %>
          </td>
          <td><%= link_to("Show", game_path(game.id)) %></td>
        </tr>

      <% end %>
    </tbody>
  </table>