<p id="notice"><%= notice %></p>


<% if current_user && current_user.role != "admin" %>
<h2>Stats</h2>
<p>
    Your total score is <%= total_score(current_user) %> points. 
</p>
<% end %>

<h2>Games</h2>
<table>
    <thead>
      <tr>
        <th>Challenger</th>
        <th>Invitee</th>
        <th>Status</th>
        <th><% if current_user && current_user.role != "admin" %>Score<% end %></th>
        <th></th>


    </thead>
    <tbody>

      <% @games.each do |game| %>

       <% if game.game_is_finished? %>
        <tr class="inactive">
      <% else %>
        <tr>
      <% end %>

          <td><%= game.challenger.try(:name) %></td>
          <td><%= game.invitee.try(:name) %></td>
          <td>
            <% if game.winning_game? %>
              Winner: <%= game.last_turn.name %>
            <% elsif game.drawn_game? %>
              Draw
            <% else %>
              Turn: <%= game.whose_turn.name %>
            <% end %>
          </td>
          <td>
            <% if current_user && current_user.role != "admin" %> <%= game.score(current_user)%>
            <% end %>
          </td>
          <td>
            <%= link_to("Show Game", game_path(game.id)) %>
            <% if can? :destory, Game %>
              <%= link_to("Delete", game_path(game.id), method: :delete) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
