<meta http-equiv="refresh" content="5">

<p id="notice"><%= notice %></p>

<h2>Game</h2>

<p><strong>Challenger X: </strong><%= @game.challenger.try(:name) %></p>

<p><strong>Invitee O: </strong><%= @game.invitee.try(:name) %></p>

<p><strong>Status: </strong>
<% if @game.game_is_finished? %>
  
  <% if @game.winning_game? %>
    <div class="won">Winner: <%= @game.moves.last.user.name %></div>
  <% else %>
    <div class="draw">Draw</div> 
  <% end %>

<% else %>
  Whose Turn: <%= @game.whose_turn.name %>
<% end %>
</p>


<%= render "board" %>

<p><%= link_to "Home", games_path %></p>
