<meta http-equiv="refresh" content="5">

<p id="notice"><%= notice %></p>

<h2>Game</h2>

<p><strong>Challenger X: </strong><%= @game.challenger.try(:name) %></p>

<p><strong>Invitee O: </strong><%= @game.invitee.try(:name) %></p>

<p><strong>Status: </strong>
<% if @game.game_is_finished? %>
  
  <% if @game.winning_game? %>
    <span class="won">Winner: <%= @game.moves.last.user.name %></span>
  <% else %>
    <span class="draw">Draw</span> 
  <% end %>

<% else %>
  <% if current_user && current_user.role != "admin" %>
    <%if current_user == @game.whose_turn %>
      <strong>Your Turn</strong>
    <% else %>
      <strong><span class="inactive">Their Turn<span></strong>
    <% end %>
  <% else %>
    Whose Turn: <%= @game.whose_turn.name %>
  <% end %>
<% end %>
</p>
<% if @game.game_is_finished? || (current_user && current_user.role != "admin" && @game.whose_turn != current_user) %> 
  <div class="inactive">
   <%= render "board" %>
  </div>
<% else %>
     <%= render "board" %>
<% end %>



<p><%= link_to "Home", games_path %></p>
